*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{
  background: #111111;
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 500ms;
}

.nav__black{
  background-color: #111;
}

.nav svg{
  width: 80px;
  object-fit: contain;
  fill: red;
}